body {
    background-color: #222; /* Dark background */
    color: #fff; /* White text */
    font-family: Arial, sans-serif; /* Clean, professional font */
    display: flex;
    flex-direction: row; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    min-height: 100vh; /* Ensure content takes up full screen height */
    margin: 0;
    
}

.container {
    display: flex;
    flex-direction: column; /* Arrange elements in a column for responsiveness */
    align-items: center;
    background-color: #333; /* Slightly lighter background for blocks */
    padding: 30px;
    border-radius: 8px; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 800px;
    width: 400px;
}

h2 {
    margin-bottom: 15px;
}

.input-block {
    padding: 10px;
    margin-bottom: 20px; /* Add spacing between blocks */
    width: 100%; 
    max-width: 500px; /* Limit the width for a contained look */
    text-align: center; /* Center content within blocks */
}

.info-block {
    height: 1000px;
    margin-bottom: 20px; /* Add spacing between blocks */
    width: 500px; 
    max-width: 500px; /* Limit the width for a contained look */
    text-align: center; /* Center content within blocks */
}

.output-block {
    height: 1000px;

    padding: 10px;
    margin-bottom: 20px; /* Add spacing between blocks */
    width: 500px; 
    max-width: 400px; /* Limit the width for a contained look */
    text-align: center; /* Center content within blocks */
}


input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button {
    background-color: #007bff; /* Blue accent color */
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.passing-dots {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100px;
    margin: 0 auto;
}
